/* Definição da fonte padrão */
body {
  font-family: "Montserrat", sans-serif;
}

/* Definição do estilo do título */
h1 {
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Definição do estilo da lista de artigos */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Definição do estilo dos itens da lista de artigos */
li {
  margin-bottom: 20px;
}

/* Definição do estilo do título do artigo */
.article-title {
  font-size: 1.2em;
  font-weight: 700;
}

/* Definição do estilo dos autores do artigo */
.article-authors {
  font-size: 0.9em;
  font-weight: 500;
}

/* Definição do estilo da revista do artigo */
.article-journal {
  font-size: 0.9em;
  font-weight: 500;
}

/* Definição do estilo do doi do artigo */
.article-doi {
  font-size: 0.8em;
  font-weight: 400;
  font-style: italic;
}

