body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

header {
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 1rem;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

#lista-artigos {
  list-style: none;
  margin: 0;
  padding: 0;
}

#lista-artigos li {
  margin-bottom: 1rem;
}

#lista-artigos a {
  color: #0077c0;
  text-decoration: none;
}

#lista-artigos a:hover {
  text-decoration: underline;
}
